<ul class="ul-form">
    <li>
        <label class="lbl-form">Seguradora:*</label>
        <%= f.text_field :nome %>
    </li>
    <li>
        <%= f.submit "Salvar" %><%= link_to 'Voltar', seguradoras_path %>
    </li>
</ul>
